<div class="container">
    <div class="headline">
        <h1>Récapitulatif de votre rendez-vous</h1>
        <p><b>Réference numéro </b> : 4003028321</p>
    </div>
    <nz-list>
        <nz-list-item *ngFor="let item of newRdv">
          <span nz-typography>{{item.title}}</span>
          {{ item.data }}
        </nz-list-item>
    </nz-list>
    <div>
          <button nz-button nzType="primary" class="submitBtn" routerLink="/recap" >Télécharger</button>
          <button nz-button nzType="default" class="cancelBtn" routerLink="/">Annuler</button>
    </div>
</div>
