<nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item className="navs"> 
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          Accueil</a>
      </li>
      <li nz-menu-item >
        <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
          Services
          <i nz-icon nzType="down"></i>
        </a>
      </li>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item>A propos</li>
          <li nz-menu-divider></li>
          <li nz-submenu nzTitle="Services" routerLink="/service">
            <ul>
              <li nz-menu-item routerLink="/service/list">Liste des services</li>
              <li nz-menu-item  routerLink="/service/new">Nouveau service</li>
              <li nz-menu-item  routerLink="/service/update">Mettre à jour</li>
            </ul>
          </li>
          <li nz-submenu  nzTitle="Conseiller" routerLink="/conseiller">
            <ul>
              <li nz-menu-item routerLink="/conseiller/list">Liste des conseillers</li>
              <li nz-menu-item routerLink="/conseiller/new">Nouveau conseiller</li>
              <li nz-menu-item routerLink="/conseiller/update">Mettre à jour</li>
            </ul>
          </li>
          
          <li nz-menu-item>Agences</li>
          <li nz-menu-divider></li>
        </ul>
      </nz-dropdown-menu>
      <li nz-menu-item className="navs"> 
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
          FAQ</a>
      </li>
      <div class="mainBtn">
        <button nz-button nzType="default"  [nzSize]="size" nzShape="round"  routerLink="/reservation">
          <i nz-icon nzType="download"></i>
          Réserver un RDV
        </button>
      </div>
    </ul>
</nz-header>