
      .logo {
        width: 190px;
        height: 45px;
        background-image: url('./../../../assets/logoGRDV.png');
        margin: 12px 24px 0 0;
        float: left;
      }

      .mainBtn {
        float: right;
        margin:auto 15px;
      }
      
      .mainBtn button{
        background-color:#77ad1b;
        border:2px solid #accb76;
        color:#333;
        font-weight: 600;
      }
      nz-header {
        position: fixed;
        height:12vh;
        width: 100%;
        background-color:#215e61;
      }
      
      li [nz-menu-item]{
          background-color:#333 !important;
          width: max-content;
      }
      li [nz-menu-item]::after{
          background-color:#215e61 !important;
      }
      [nz-menu] {
        line-height: 12vh;
        float:right;
        background-color:#215e61;
      }