.container{
    padding:2%;
    background: #fff;
    border-radius:7px;
    margin:3% 10%;
    align-content: center;
  }
  .headline{
    text-align:center;
    color:#777;
    padding:0 0 1% 0;
  }
  
  .headline h1{
    color:#444;
    font-weight: bolder;
    margin-bottom:0;
  }
  
[nz-form] {
  padding:auto;
  margin:auto;
  max-width: 600px;
}
nz-form-item{
  margin-bottom:5px;
}
#formTemplate{
  align-items: center;
}
#datePicker{
  width:100%;
}

.submitBtn{
  background-color: #215e61;
  border:2px solid #19575a;
  color:#eee;
  margin-right:1%;
}

.deleteBtn{
  background-color: #812a2a;
  border:2px solid #772525;
  color:#eee;
}