<div class="container">
  <div class="headline">
    <h1>Liste des services</h1>
  </div>
  <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzBordered]="true"
          [nzData]="listOfServices"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr>
              <th></th>
              <th>Service</th>
              <th>Nécessite un RDV</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(service.idservice)" (nzCheckedChange)="onItemChecked(service.idservice, $event)"></td>
              <td>{{ service.typeservice }}</td>
              <td>{{ service.necessiterdv}}</td>
              <td>{{ service.description }}</td>
            </tr>
          </tbody>
    </nz-table>
    <div nz-row>
      <div nz-col nzSpan="24" id="Btns">
        <button nz-button nzType="primary" class="submitBtn" (click)="addService()" >Ajouter</button>
        <button nz-button nzType="default" class="updateBtn" (click)="editService()" [disabled]="setOfCheckedId.size === 0">Modifier</button>
        <button nz-button nzType="default" class="deleteBtn" (click)="deleteService()" [disabled]="setOfCheckedId.size === 0">Supprimer</button>
        <span>Selected {{ setOfCheckedId.size }} items</span>
      </div>
    </div>
</div>

<div id="addService" *ngIf="displayAdd ||displayEdit">
  <app-new-service [isNew]="displayAdd" [editService]="currentService" (isServiceCreated)=onServiceEditedorAdded($event)></app-new-service>
</div>