.container{
  padding:3%;
  background: #fff;
  border-radius:7px;
  margin:3%;
  align-content: center;
}

.headline{
  text-align:center;
  color:#777;
  padding:0 0 3% 0;
}

.headline h1{
  color:#444;
  font-weight: bolder;
  margin-bottom:0;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.importBtn{
  background-color: #292929;
  border:2px solid #202020;
  color:#eee;
  margin-right:0;
  float:right;
}
