<div class="container">
  <div class="headline">
    <h1>Liste des services</h1>
  </div>
  <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzBordered]="true"
          [nzData]="listOfServices"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr>
              <th [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)" ></th>
              <th>Service</th>
              <th>Nécessite un RDV</th>
              <th>Description</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let service of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(service.id)" (nzCheckedChange)="onItemChecked(service.id, $event)"></td>
              <td>{{ service.nom }}</td>
              <td>
                <nz-radio-group >
                  <label nz-radio nzValue="A">Oui</label>
                  <label nz-radio nzValue="B">Non</label>
                </nz-radio-group>
              </td>
              <td>{{ service.description }}</td>
            <!--
            <nz-range-picker [nzShowTime]="true" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
            -->
            </tr>
          </tbody>
    </nz-table>
    <div nz-row>
      <div nz-col nzSpan="24" id="Btns">
        <button nz-button nzType="primary" class="submitBtn" (click)="addService()">Ajouter</button>
        <button nz-button nzType="default" class="updateBtn" (click)="editService()" [disabled]="setOfCheckedId.size === 0">Modifier</button>
        <button nz-button nzType="default" class="deleteBtn">Supprimer</button>
        <span>Selected {{ setOfCheckedId.size }} items</span>
      </div>
    </div>
</div>

<div id="addService" *ngIf="displayAdd">
  <app-new-service></app-new-service>
</div>
<div id="editService" *ngIf="displayEdit">
   <app-edit-service></app-edit-service>
</div>
