<div class="container">
  <div class="headline">
    <h1>Liste des agences</h1>
  </div>
  <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzBordered]="true"
          [nzData]="listOfAgences"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr>
              <th [nzSelections]="listOfSelection"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)" ></th>
              <th>Agence</th>
              <th>Adresse</th>
              <th>Géolocalisation</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agence of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(agence.id)" (nzCheckedChange)="onItemChecked(agence.id, $event)"></td>
              <td>{{ agence.nom }}</td>
              <td>{{ agence.adresse }}</td>
              <td>
                <button nz-button nzType="default"  [nzSize]="size" nzShape="round" >
                  <i nz-icon nzType="download"></i>
                  {{ agence.location }}
                </button>
                </td>
            <!--
            <nz-range-picker [nzShowTime]="true" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
            -->
            </tr>
          </tbody>
    </nz-table>
    <div nz-row>
      <div nz-col nzSpan="16">
        <button nz-button nzType="primary" class="submitBtn">Ajouter</button>
        <button nz-button nzType="default" class="updateBtn">Modifier</button>
        <button nz-button nzType="default" class="deleteBtn">Supprimer</button>
      </div>
      <div nz-col nzSpan="2" nzOffset="6">
        <button nz-button nzType="default" class="importBtn" >Importer</button>
      </div>
    </div>

</div>


<div class="container">
  <div class="headline">
    <p>Veuillez renseigner les champs à modifier</p>
  </div>
  <form nz-form [nzBordered]="true" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="service">Nom de service</nz-form-label>
          <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <input id="service" type="text" nz-input formControlName="service" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="bool">Nécessite un RDV</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <nz-radio-group >
            <label nz-radio nzValue="A">Oui</label>
            <label nz-radio nzValue="B">Non</label>
          </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <textarea rows="4" id="description" nz-input formControlName="description" ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item id="Btns">
      <nz-form-control [nzSpan]="12" [nzOffset]="6">
         <button nz-button nzType="primary" class="submitBtn" routerLink="/recap">Enregistrer</button>
         <button nz-button nzType="default" class="cancelBtn">Annuler</button>
      </nz-form-control>
    </nz-form-item>
    </form>

</div>