<div class="headline">
    <h1>Nouvelle agence</h1>
    <p>Veuillez renseigner les champs à modifier</p>
  </div>
  <form nz-form id="formTemplate" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="service">Nom de service</nz-form-label>
          <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <input id="service" type="text" nz-input formControlName="service" />
      </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <textarea rows="4" id="description" nz-input formControlName="description" ></textarea>
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="bool">Adresse</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir l'adresse de votre agence!">
          <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
          <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
            <ng-container *nzModalContent>
              <p>Content one</p>
              <p>Content two</p>
              <p>Content three</p>
            </ng-container>
          </nz-modal>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item id="Btns">
      <nz-form-control [nzSpan]="12" [nzOffset]="6">
         <button nz-button nzType="primary" class="submitBtn" routerLink="/recap">Enregistrer</button>
         <button nz-button nzType="default" class="cancelBtn">Annuler</button>
      </nz-form-control>
    </nz-form-item>
    </form>