.container{
    padding:2%;
    background: #fff;
    border-radius:7px;
    margin:3%;
    align-content: center;
  }

  
.headline{
  text-align:center;
  color:#777;
  padding:0 0 1% 0;
}

.headline h1{
  color:#444;
  font-weight: bolder;
  margin-bottom:0;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

#loginForm{
  width:100%;
  align-items: center;

}