<div class="container">
    <div class="headline">
    <h1>Jours Fériés</h1>
    <p>holidays works!</p>
</div>

<nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzBordered]="true"
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Evenement</th>
          <th>Date debut</th>
          <th>Date fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.event }}</td>
          <td>{{ data.starts }}</td>
          <td>{{ data.ends }}</td>
        </tr>
      </tbody>
    </nz-table>
    <div nz-row>
      <div nz-col nzSpan="12">
        <button nz-button nzType="primary" class="submitBtn">Ajouter</button>
        <button nz-button nzType="default" class="updateBtn">Modifier</button>
        <button nz-button nzType="default" class="deleteBtn">Supprimer</button>
      </div>
      <div nz-col nzSpan="4" nzOffset="8">
        <button nz-button nzType="default" class="importBtn" >Importer</button>
      </div>
    </div>

</div>