<div class="container">
    <div class="headline">
        <h1>Se connecter</h1>
        <p>Veuillez renseigner votre nom d'utilisateur et mot de passe pour accéder votre compte</p>
    </div>
    <div class="wrapper" nz-row>
      <div nz-col nzSpan="8">
      </div>
      <div nz-col nzSpan="8"  >
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginForm.valid && submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" 
                  [nzType]="'primary'" type="submit" >Se connecter</button>
          Vous n'avez pas de compte? <a  routerLink="/signup">Créer un compte!</a><br />
          <a  routerLink="/reset">Réinitialiser votre compte</a>
        </form>
        <!-- <form nz-form class="login-form" *ngIf="!isLoggedIn"
              name="form" (ngSubmit)="onSubmit()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" 
                class="form-control"
                name="username"
                nz-input formControlName="userName" 
                placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input 
                formControlName="password" 
                placeholder="Password" 
                class="form-control"
                name="password"
                minlength="6"
                />
                
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row class="login-form-margin">
            <div nz-col [nzSpan]="12">
            </div>
            <div nz-col [nzSpan]="12">
              <a class="login-form-forgot"></a>
            </div>
          </div>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'default'">Se connecter</button>
          Vous n'avez pas d'accès?
          <a routerLink="/user/signup">Réinitialiser votre compte!</a>
        </form> -->
      </div>
      <div nz-col nzSpan="8">
        
      </div>
    </div>
    
</div>