.container{
  padding:3%;
  background: #fff;
  border-radius:7px;
  margin:3%;
  align-content: center;
}
.headline{
  text-align:center;
  color:#777;
  padding:0 0 3% 0;
}

.headline h1{
  color:#444;
  font-weight: bolder;
  margin-bottom:0;
}

[nz-form] {
  padding:auto;
  margin:auto;
  max-width: 600px;
  position: static;
}
nz-form-item{
  margin-bottom:5px;
}
#formTemplate{
  align-items: center;
}
#identity, #rdvSelector, #agency, #service{
  width:100%;
}
.phone-select {
  width: 80px;
  float:left;
}
#phoneNumber{
  width:82%;
}

[nz-button]{
  margin-right: 8px;
  margin-top: 12px;
}

#btn{
  float:left;
}
#Btns{
  text-align: center;
}