
<div class="container">
  <div class="headline">
    <h1>Prendre un rendez-vous</h1>
    <p>Veuillez saisir les informations ci-dessous</p>
  </div>
  
<!--<nz-tree-virtual-scroll-view class="virtual-scroll-tree" >-->
    <form nz-form [formGroup]="reservationForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="dp">Numéro de DP</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your DP!">
          <input id="dp" type="number" nz-input formControlName="dp" placeholder="Numero DP"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="lastName"  nzRequired>Nom</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your name!">
          <input id="lastName" type="text" nz-input formControlName="lastName" placeholder="Nom"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="firstName" nzRequired>Prénom</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your firstname!">
          <input id="firstName" type="text" nz-input formControlName="firstName" placeholder="Prénom"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="identity" nzRequired>Type pièce d'identité</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please select your identity!">
          <nz-select
            id="identity"
            formControlName="identity"
            nzPlaceHolder="Veuillez choisissez le type de pièce d'identité" >
            <nz-option nzValue="cin" nzLabel="CIN"></nz-option>
            <nz-option nzValue="passport" nzLabel="Passport"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="idNum" nzRequired>Num de pièce d'identité</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your ID number!">
          <input id="idNum" type="text" nz-input formControlName="idNum"  placeholder="Numéro d'identité" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="address" nzRequired>Adresse</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your address!">
          <input id="address" type="text" nz-input formControlName="address"   placeholder="Adresse"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="city" nzRequired>Ville</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your city!">
          <input id="city" type="text" nz-input formControlName="city"  placeholder="Ville" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="country" nzRequired>Pays</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your country!">
          <input id="country" type="text" nz-input formControlName="country"placeholder="Pays"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="email" nzRequired>Address e-mail</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please input your e-mail address!">
          <input id="email" type="text" nz-input formControlName="email"  placeholder="E-mail"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phoneNumber" nzRequired placeholder="Numéro GSM">Numéro GSM</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24"
          [nzValidateStatus]="reservationForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!"  >
              <ngx-intl-tel-input
              [preferredCountries]="preferredCountries"
              [enableAutoCountrySelect]="true"
              [enablePlaceholder]="true"
              [searchCountryFlag]="true"
              [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
              [selectFirstCountry]="false"
              [selectedCountryISO]="CountryISO.Morocco"
              [maxLength]="15"  [phoneValidation]="true"
              [separateDialCode]="separateDialCode" 
              [numberFormat]="PhoneNumberFormat.National"
              name="phone" formControlName="phone"  >
            </ngx-intl-tel-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzRequired nzFor="agency" >Agence</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Veuillez saisir une Agence">
          <nz-select [compareWith]="compareFn" id="agency" formControlName="agency"  >
            <nz-option *ngFor="let agence of agencesList"  [nzValue]="agence.idagence" [nzLabel]="agence.libelleagence" ></nz-option>
          </nz-select>            
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="service" nzRequired>Type de service</nz-form-label>
        <nz-form-control [nzSpan]="16" nzErrorTip="Please select a service type!">
          <nz-select id="service" formControlName="serviceType"
            nzPlaceHolder="Veuillez selectionner un type de service">
            <nz-option nzValue="1" nzLabel="Service 1"></nz-option>
            <nz-option nzValue="2" nzLabel="Service 2"></nz-option>
            <nz-option nzValue="3" nzLabel="Service 3"></nz-option>
            <nz-option nzValue="4" nzLabel="Service 4"></nz-option>
            <nz-option nzValue="5" nzLabel="Service 5"></nz-option>
            <nz-option nzValue="6" nzLabel="Service 6"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Date et heure de RDV</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker
          [nzDisabledDate]="disabledWeekEnds"
          [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }"
          [nzFormat]="dateFormat"
          [ngModel]
          (ngModelChange)="onChange($event)"
          (nzOnOk)="onOk($event)"
          [cssClass]="'custom'"
          id="inputStyle"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    
      <div id="Btns">
          <button nz-button nzType="primary" class="submitBtn" type="submit" >Réserver</button>
          <button nz-button nzType="default" class="cancelBtn" routerLink="/">Annuler</button>
      </div>
    </form>
</div>