<div class="container">
  <div class="headline">
    <h1>Réserver un rendez-vous</h1>
    <nz-divider nzText="Veuillez saisir les informations ci-dessous"></nz-divider>
  </div>
  <div class="wrapper">
    <form id="formTemplate" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="dp">Numéro de DP</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your DP!">
          <input id="dp" type="text" nz-input formControlName="dp"  nzPlaceHolder="Numero DP"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="lastName">Nom</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your name!">
          <input id="lastName" type="text" nz-input formControlName="lastName" nzPlaceHolder="Nom"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="firstName">Prénom</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your firstname!">
          <input id="firstName" type="text" nz-input formControlName="firstName"  nzPlaceHolder="Prénom"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="identity">Type pièce d'identité</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please select your identity!">
          <nz-select
            id="identity"
            formControlName="identitytype"
            nzPlaceHolder="Veuillez choisissez le type de pièce d'identité" 
            (ngModelChange)="identityChange($event)">
            <nz-option nzValue="cin" nzLabel="CIN"></nz-option>
            <nz-option nzValue="passport" nzLabel="Passport"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="idNum">Num de pièce d'identité</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your ID number!">
          <input id="idNum" type="text" nz-input formControlName="idNum"  nzPlaceHolder="Numéro d'identité" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="address">Adresse</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your address!">
          <input id="address" type="text" nz-input formControlName="address"   nzPlaceHolder="Adresse"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="city">Ville</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your city!">
          <input id="city" type="text" nz-input formControlName="city"  nzPlaceHolder="Ville" />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="country">Pays</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your country!">
          <input id="country" type="text" nz-input formControlName="country"  nzPlaceHolder="Pays"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSpan]="8"  nzFor="email">Address e-mail</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please input your e-mail address!">
          <input id="email" type="text" nz-input formControlName="email"  nzPlaceHolder="E-mail"/>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phoneNumber"  nzPlaceHolder="Numéro GSM">Numéro GSM</nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          [nzValidateStatus]="validateForm.controls['phoneNumber']"
          nzErrorTip="Please input your phone number!"
        >
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select formControlName="phoneNum" class="phone-select"  nzPlaceHolder="+1">
                <nz-option nzLabel="+212" nzValue="+212"></nz-option>
                <nz-option nzLabel="+33" nzValue="+44"></nz-option>
                <nz-option nzLabel="+33" nzValue="+33"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="phoneNum" id="phoneNumber" nz-input  nzPlaceHolder="Numéro de téléphone"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="agency">Agence</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please select your agency!">
          <nz-select
            id="agency"
            formControlName="agency"
            nzPlaceHolder="Veuillez selectionner une agence">
            <nz-option nzValue="Abdelmoumen" nzLabel="Agence Abdelmoumen"></nz-option>
            <nz-option nzValue="autre" nzLabel="Autre"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="service" >Type de service</nz-form-label>
        <nz-form-control [nzSpan]="12" nzErrorTip="Please select a service type!">
          <nz-select
            id="service"
            formControlName="serviceType"
            nzPlaceHolder="Veuillez selectionner un type de service">
            <nz-option nzValue="Service1" nzLabel="Service 1"></nz-option>
            <nz-option nzValue="Service2" nzLabel="Service 2"></nz-option>
            <nz-option nzValue="Service3" nzLabel="Service 3"></nz-option>
            <nz-option nzValue="Service4" nzLabel="Service 4"></nz-option>
            <nz-option nzValue="Service5" nzLabel="Service 5"></nz-option>
            <nz-option nzValue="Service6" nzLabel="Service 6"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" >Date et heure de RDV</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-date-picker nzShowTime formControlName="datePickerTime" id="rdvSelector"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item id="Btns">
        <nz-form-control [nzSpan]="24">
          <button nz-button nzType="primary" class="submitBtn" routerLink="/reservation/recap">Réserver</button>
          <button nz-button nzType="default" class="cancelBtn" routerLink="/">Annuler</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>