<div class="container">
    <div class="headline">
      <h1>Gérer un rendez-vous</h1>
      <nz-divider nzText="Veuillez remplir les champs suivants pour gérer votre RDV"></nz-divider>
    </div>
    <div class="wrapper">
      <form nz-form id="formTemplate" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="ref">Référence de RDV</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your reference!">
            <input id="ref" type="text" nz-input formControlName="ref" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="tel">Votre numéro GSM</nz-form-label>
          <nz-form-control [nzSpan]="8" nzErrorTip="Please input your phone number!">
            <input id="tel" type="text" nz-input formControlName="tel" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item id="Btns">
          <nz-form-control [nzSpan]="12" [nzOffset]="6">
            <button nz-button nzType="primary" class="submitBtn" routerLink="/recap" >Valider</button>
            <button nz-button nzType="default" class="cancelBtn" routerLink="/">Annuler</button>
          </nz-form-control>
          
        </nz-form-item>
      </form>
    
    </div>

</div>