<div class="container">
  <div class="headline">
    <h1>Liste des conseillers</h1>
  </div>
  <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzBordered]="true"
          [nzData]="listConseillers" >
          <thead>
            <tr>
              <th></th>
              <th>Matricule</th>
              <th>Nom</th>
              <th>Prénom</th>
              <th>E-mail</th>
              <th>Agence</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let conseiller of rowSelectionTable.data">
              <td [nzChecked]="setOfCheckedId.has(conseiller.idconseiller)" (nzCheckedChange)="onItemChecked(conseiller.idconseiller, $event)"></td>
              <td>{{ conseiller.matricule }}</td>
              <td>{{ conseiller.nom }}</td>
              <td>{{ conseiller.prenom }}</td>
              <td>{{ conseiller.adressemail }}</td>
              <td>{{ conseiller.agence.idagence }}</td>
        
            </tr>
          </tbody>
    </nz-table>
    
    <div nz-row>
      <div nz-col nzSpan="24" id="Btns">
        <button nz-button nzType="primary" class="updateBtn" (click)="export()">Exporter</button>
        <button nz-button nzType="default" class="submitBtn" (click)="editConseiller()"   [disabled]  ="setOfCheckedId.size===0">Modifier</button>
        <button nz-button nzType="default" class="deleteBtn" (click)="deleteConseiller()" [disabled]  ="setOfCheckedId.size===0">Supprimer</button>
      </div>
    </div>

</div>
<div class="container" id="newConseiller" *ngIf="displayEdit">
  <app-new-conseiller (emitEvent)="onConsiellerEdited($event)" [currentConseiller]="conseillerSelectione" [isNew]="false"></app-new-conseiller>
</div>