.container{
    padding:2%;
    background: #fff;
    border-radius:7px;
    margin:3%;
    align-content: center;
  }
  
  .headline{
    text-align:center;
    color:#777;
    padding:0 0 1% 0;
  }
  
  .headline h1{
    color:#444;
    font-weight: bolder;
    margin-bottom:0;
  }