<div class="container">
  <div class="headline">
    <h1 *ngIf="isNew">Ajouter un Nouveau Service</h1>
    <h1 *ngIf="!isNew">Modifier le Service</h1>
    <p>Veuillez renseigner les champs suivants</p>
  </div>
  <form   nz-form [formGroup]="validateForm"   (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4"  nzRequired [nzOffset]="6"   nzFor="typeservice">Nom de service</nz-form-label>
      <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
        <input id="typeservice" type="text" nz-input formControlName="typeservice" [value]="editService.typeservice" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6"   nzFor="bool">Nécessite un RDV</nz-form-label>
        <nz-form-control  [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <nz-radio-group formControlName="necessiterdv"  >
            <label nz-radio    nzValue="oui">Oui</label>
            <label nz-radio   nzValue="non">Non</label>
          </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6"   nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <textarea rows="4" id="description" nz-input formControlName="description" [value]="editService.description"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item id="Btns">
      <nz-form-control [nzSpan]="12" [nzOffset]="6">
         <button *ngIf="isNew" nz-button type="submit" nzType="primary" class="submitBtn" >Ajouter</button>
         <button *ngIf="!isNew" nz-button type="submit" nzType="primary" class="submitBtn">Edit</button>
         <button nz-button nzType="default" class="cancelBtn" (click)="cancel()">Annuler</button>
      </nz-form-control>
    </nz-form-item>
     </form>
</div>