<div class="container">
  <div class="headline">
    <h1>Nouveau service</h1>
    <p>Veuillez renseigner les champs suivants</p>
  </div>
  <form nz-form [nzBordered]="true" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="service">Nom de service</nz-form-label>
          <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <input id="service" type="text" nz-input formControlName="service" />
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="bool">Nécessite un RDV</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <nz-radio-group >
            <label nz-radio nzValue="A">Oui</label>
            <label nz-radio nzValue="B">Non</label>
          </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzOffset]="6" nzRequired nzFor="description">Description</nz-form-label>
        <nz-form-control [nzSpan]="6" nzErrorTip="Veuillez saisir la référence de votre rendez-vous!">
          <textarea rows="4" id="description" nz-input formControlName="description" ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item id="Btns">
      <nz-form-control [nzSpan]="12" [nzOffset]="6">
         <button nz-button nzType="primary" class="submitBtn">Ajouter</button>
         <button nz-button nzType="default" class="cancelBtn">Annuler</button>
      </nz-form-control>
    </nz-form-item>
    </form>
</div>